* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL */

.container {
    width: 100vw;
    height: 100vh;
}

.container .spotify-col {
    width: calc(100vw - 85%);
    height: calc(100vh - 125px);
    position: fixed;
    border: 3px solid black;
}

.container main {
    height: calc(100vh - 125px);
    background-color: greenyellow;
}

.container footer {
    width: 100vw;
    height: 125px;
    background-color: rgba(199, 22, 140, 0.568);
    position: fixed;
}

/* / GENERAL */


/* spotify column */

.spotify-col .logo-row {
    height: 100px;
    background-color: #010101;
    display: flex;
    align-items: center;
}

.spotify-col .logo {
    width: 65%;
}

.spotify-col .logo img {
    width: 100%;
}