* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    font-family: 'Varela Round', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container .spotify-col {
    width: calc(100vw - 83%);
    height: calc(100vh - 125px);
    position: fixed;
}

.container main {
    height: calc(100vh - 125px);
    background-color: greenyellow;
}

.container footer {
    width: 100vw;
    height: 125px;
    background-color: rgba(199, 22, 140, 0.568);
    position: fixed;
}

/* / GENERAL */


/* spotify column */

/* spotify logo */

.spotify-col .logo-row {
    height: 100px;
    background-color: #010101;
}

.spotify-col .logo {
    width: 65%;
    padding-top: 20px;
    margin-left: 20px;
}

.spotify-col .logo img {
    width: 100%;
}

/* / spotify logo */


/* navs */

/* navs COMMON */

nav,
nav:nth-of-type(2) {
    font-size: 15px;
}

/* navs COMMON */

/* nav one */

nav ul {
    background-color: #010101;
}

nav ul li:first-child {
    padding-top: 8px;
}

nav ul li {
    padding: 5px;
    display: flex;
    align-items: center;
}

nav ul li .nav-img-cont {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    display: inline-block;
}

nav ul li .nav-img-cont img {
    width: 100%;
}

nav ul li span {
    padding-left: 5px;
    color: lightgray;
    font-weight: 900;
    display: inline-block;
}

nav ul li span:hover {
    color: white;
    cursor: pointer;
}

nav ul li #home {
    color: white;
}

nav ul li #home:hover {
    color: white;
    cursor: pointer;
}

/* / nav one */

/* nav two */

nav:nth-of-type(2) li:first-child {
    padding-top: 25px;
}

nav:nth-of-type(2) ul li {
    margin-left: 12px;
    padding: 10px;
}

nav:nth-of-type(2) ul li span h3 {
    color: white;
    font-family: sans-serif;
}

nav:nth-of-type(2) ul li .nav-img-cont i {
    color: lightgray;
    font-size: 35px;
}

nav:nth-of-type(2) ul li .nav-img-cont {
    margin-left: 5px;
}

/* nav two */


/* low column */

.low-column {
    color: lightgray;
    background-color: #010101;
    padding-top: 73px;
}

.low-column .download .download-cont {
    width: 20px;
}

.low-column .download .download-cont img {
    width: 100%;
}

.low-column .download .download-cont,
.low-column .download span {
    display: inline-block;
}

hr {
    width: 85%;
    margin: auto;
}

.low-column .profile .profile-cont {
    width: 20px;
}

.low-column .profile .profile-cont img {
    width: 100%;
    background-color: grey;
    border-radius: 10px;
}

.low-column .profile .profile-cont,
.low-column .profile span {
    display: inline-block;
}

/* low column COMMON */

.low-column .download span,
.low-column .profile span {
    padding-bottom: 10px;
    vertical-align: middle;
}

/* / low column COMMON */

.low-column .download {
    padding-top: 10px;
    margin-left: 22px;
}

.low-column .profile {
    padding-top: 10px;
    margin-left: 25px;
}

.low-column .profile span {
    color: white;
    font-weight: 900;
}

.low-column .download span:hover,
.low-column .profile span:hover {
    color: white;
    cursor: pointer;
}

/* / low column */

/* / spotify column */
