* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    font-family: 'Varela Round', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container .spotify-col {
    width: calc(100vw - 83%);
    height: calc(100vh - 125px);
    position: fixed;
    border: 3px solid black;
}

.container main {
    height: calc(100vh - 125px);
    background-color: greenyellow;
}

.container footer {
    width: 100vw;
    height: 125px;
    background-color: rgba(199, 22, 140, 0.568);
    position: fixed;
}

/* / GENERAL */


/* spotify column */

/* spotify logo */

.spotify-col .logo-row {
    height: 100px;
    background-color: #010101;
}

.spotify-col .logo {
    width: 65%;
    margin-left: 20px;
}

.spotify-col .logo img {
    width: 100%;
}

/* / spotify logo */



/* navs COMMON */

nav,
nav:nth-of-type(2) {
    font-size: 15px;
}

/* navs COMMON */


/* nav one */

nav ul {
    background-color: #010101;
}

nav ul li {
    padding: 5px;
    display: flex;
    align-items: center;
}

nav ul li .nav-img-cont {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    display: inline-block;
}

nav ul li .nav-img-cont img {
    width: 100%;
}

nav ul li span {
    padding-left: 5px;
    color: lightgray;
    font-weight: 900;
    display: inline-block;
}

/* / nav one */


/* nav two */

nav:nth-of-type(2) li:first-child {
    padding-top: 25px;
}

nav:nth-of-type(2) ul li {
    margin-left: 12px;
    padding: 10px;
}

nav:nth-of-type(2) ul li span h3 {
    font-family: sans-serif;
}

nav:nth-of-type(2) ul li .nav-img-cont i {
    color: lightgray;
    font-size: 35px;
}

nav:nth-of-type(2) ul li .nav-img-cont {
    margin-left: 5px;
}

/* nav two */


